<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p> Hello: <%= current_user.username %></p><br>
<p> Your balance: <%= current_user.balance %></p><br>
<input type="submit" value="Withdraw $50">
<input type="submit" value="Deposit $50">

<p><a href="/logout">Log Out</a></p>
